.categories{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
}

.category {
    margin-top: 25px;
}

.category:nth-child(odd) {
    text-align: start;
}
.category:nth-child(even) {
    text-align: end;
}